## Exercise 1:

In [3]:
liste = []
for i in range(1,11):
    liste.append(i)
    
liste

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercise 2:

In [4]:
a = ("apple", "banana", "cherry")
type(a)

tuple

## Exercise 3:

In [5]:
numbers = [10, 20, 30, 40]
b = tuple(numbers)
type(b)

tuple

## Exercise 4:

In [7]:
a = {1, 2, 3, 4, 5}
    
a

{1, 2, 3, 4, 5}

## Exercise 5:

In [8]:
student = {
    "name":"kuate", "age": 13, "grade":6
}

student

{'name': 'kuate', 'age': 13, 'grade': 6}

## Exercise 6:

In [9]:
liste = [10, 20, 30, 40, 50]
liste[1]

20

## Exercise 7:

In [10]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]="mango"

fruits

['apple', 'banana', 'mango', 'orange']

## Exercise 8:

In [11]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)

numbers

{1, 2, 3, 4, 5, 6}

## Exercise 9:

In [16]:
person = {"name": "John", "age": 25, "city": "New York"}

del person["age"]

person

{'name': 'John', 'city': 'New York'}

## Exercise 10:

In [18]:
rang = []
for i in range(10):
    rang.append(i)
    
rang

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exercise 11:

In [21]:
squares = [i ** 2 for i in range (1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Exercise 12:

In [43]:
even_number = tuple([i*2 for i in range(2,6)])
even_number

(4, 6, 8, 10)

## Exercise 13:

In [44]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

## Exercise 14:

In [45]:
numbers = {1, 2, 3, 4, 5}

if 3 in numbers:
    print(3)
else:
    print("there is not here")

3

## Exercise 15:

In [46]:
numbers = (10, 20, 30)

len(numbers)

3

## Exercise 16:

In [47]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

## Exercise 17:

In [48]:
def function_sum (element):
    return sum(element)

print(function_sum ([i for i in range(10)]))

45

## Exercise 18:

In [49]:
numbers = [1, 2, 2, 3, 4, 4, 5]
number_set = set(numbers)

number_set

{1, 2, 3, 4, 5}

## Exercise 19:

In [50]:
liste = []
for i in "hello":
    liste.append(i)
    
liste

['h', 'e', 'l', 'l', 'o']

## Exercise 20:

In [51]:
a = (1, 2, 3, 4)

b = a[::-1]
b

(4, 3, 2, 1)

## Exercise 21:

In [53]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4} 

dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Exercise 22:

In [56]:
dict_1 = {i:i**3 for i in range(1,6)}
print(dict_1)
print(type(dict_1))

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
<class 'dict'>

## Exercise 23:

In [59]:
for k in dict_1:
    print(k, dict_1[k])

1 1
2 8
3 27
4 64
5 125

## Exercise 24:

In [46]:
letters = [chr(i) for i in range(ord('a'), ord('a') + 5)]

print(letters)

['a', 'b', 'c', 'd', 'e']

## Exercise 25:

In [6]:
A = [1, 2, 3]
B = ["a", "b", "c"]

C = [(i,j) for i,j in zip(A, B)]
C

[(1, 'a'), (2, 'b'), (3, 'c')]

## Exercise 26:

In [8]:
A = [10, 20, 30, 40, 50]

print(A.index(50))

4

## Exercise 27:

In [45]:
names = ["Alice", "Bob", "Charlie", "David"]

sorted_names = sorted(names)

print(sorted_names)

['Alice', 'Bob', 'Charlie', 'David']

## Exercises 28:

In [20]:
liste = [10, 20, 30, 40, 50]

max(liste)

50

## Exercise 29:

In [21]:
fruits = ["apple", "banana", "apple", "orange"]

fruits.count("apple")

2

## Exercise 30:

In [25]:
person = {
    "name":"Alice", "age": 25, "city": "New York"
}

person["city"]

'New York'

## Exercise 31:

In [33]:
liste = []
a = 0
for i in range (7):
    a = int(input("Enter a number: "))
    liste.append(a)

    
def dupli (A):
    liste1 = []
    for i in A:
        if liste.count(i) < 2:
            liste1.append(liste[i])
            
    return liste1
    
dupli(liste)

Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5

[1, 2, 3, 4]

## Exercise 32:

In [ ]:
fruits = ["apple", "banana", "apple", "orange"]

names = ["Alice", "Bob", "Charlie", "David", "apple"]

for i in range(min(len))
if (i in fruits) and (i in names):
    print(fruits[i])

## Exercise 33:

In [44]:
def squares_generator():
    for i in range(1, 11):
        yield i ** 2

for square in squares_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100

## Exercise 34:

In [44]:
dict_1 = {i:i**2 for i in range(1,6)}

def somme(A):
    return sum(A.values())

somme(dict_1)

55

## Exercise 35:

In [43]:
numbers = [3, 1, 4, 1, 5, 9]

sorted_numbers = sorted(numbers)

print(sorted_numbers)

[1, 1, 3, 4, 5, 9]

## Exercise 36:

In [42]:
def longest_string(strings):
    if not strings:  
        return None
    longest = strings[0]
    for s in strings[1:]:
        if len(s) > len(longest):
            longest = s
    return longest

words = ["apple", "banana", "cherry", "date"]
print(longest_string(words))

banana

## Exercise 37:

In [40]:
numbers = [1, 2, 3, 4, 5]

all_positive = all(x > 0 for x in numbers)

print(all_positive)

True

## Exercise 38:

In [9]:
liste = [(i, i**2) for i in range(1, 6)]
liste

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


## Exercise 39:

In [20]:
print(len(liste))
def tuples(A):
    liste = []
    for i in range(len(A)):
        liste.append(A[i][1])
    return liste

tuples([(i, i**2) for i in range(1, 6)])

5

[1, 4, 9, 16, 25]

## Exercise 40:

In [39]:
def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        for item in sublist:
            flat_list.append(item)
    return flat_list

nested = [[1, 2], [3, 4], [5, 6]]
print(flatten_list(nested))

[1, 2, 3, 4, 5, 6]

## Exercise 41:

In [38]:
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry

## Exercise 42:

In [29]:
A = ()

for i in range(len(A)):
    if A[i] == () :
        print("A is empty set")
    else:
        print("A contain at least one element")

## Exercise 43:

In [33]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## Exercise 44:

In [37]:
def reverse_list(numbers):
    reversed_numbers = []
    for i in range(len(numbers)-1, -1, -1):
        reversed_numbers.append(numbers[i])
    return reversed_numbers

nums = [1, 2, 3, 4, 5]
print(reverse_list(nums))

[5, 4, 3, 2, 1]

## Exercise 45:

In [48]:
dict_2 = {i:i**3 for i in range(1, 6)}
dict_2

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

## Exercise 46:

In [50]:
A = [1, 2, 2, 3, 4, 4, 5]
B = []

for i in range(1, len(A)):
    if A.count(i) < 2:
        B.append(i)

B

[1, 3, 5, 6]

## Exercise 47:

In [36]:
def get_values(dict_list, key):
    return [d[key] for d in dict_list if key in d]

data = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie'}
]

ages = get_values(data, 'age')
print(ages)

[25, 30]

## Exercise 48:

In [7]:
def fibonacci(n):
    F = [i for i in range(n+1)]
    F[0] = 0
    F[1] = 1

    for i in range(2, n+1):
        F[i] = F[i-1] + F[i-2]
    return F

fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Exercise 49:

In [35]:
def unique_characters(s):
    return list(set(s))

text = "hello world"
result = unique_characters(text)
print(result)

[' ', 'w', 'o', 'h', 'e', 'l', 'r', 'd']

## Exercise 50:

In [11]:
A = fibonacci(10)
B = ["bonjour", "hello"]

A.extend(B)
A

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 'bonjour', 'hello']

## Exercise 51:

In [34]:
numbers = [1, 2, 3, 4, 5, 6]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6]

## Exercise 52:

In [13]:
A = [(1, 2), (3, 4), (5, 6)]
dict(A)

{1: 2, 3: 4, 5: 6}

## Exercise 53:

In [33]:
def symmetric_difference(set1, set2):
    return set1 ^ set2  

set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

result = symmetric_difference(set_a, set_b)
print(result)

{1, 2, 5, 6}

## Exercise 54:

In [16]:
list1 = [1, 2, 3, 4, 5, 6] 

list2 = [2, 1, 3, 5, 8, 9]  

list3 = [2, 7, 0, 10, 4]

intercept = set(list1) & set(list2) & set(list3)
Common = list(intercept)
Common

[2]

## Exercise 55:

In [17]:
def fact(n):
    if n <= 1:  
        return 1
    return n * fact(n-1) 

fact(4)

24

## Exercise 56:

In [20]:
A = ["apple", "", "banana", "", "cherry"]

del A[1:4:2]

A

['apple', 'banana', 'cherry']

## Exercise 57:

In [32]:
def swap_dict(d):
    return {value: key for key, value in d.items()}

my_dict = {'a': 1, 'b': 2, 'c': 3}
swapped = swap_dict(my_dict)
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

## Exercise 58:

In [28]:
list1 = [1, 2, 3, 4, 5, 6] 

def even_number(A):
    liste4 = []

    for i in range(len(list1)):
        if list1[i] % 2 == 0:
            liste4.append(list1[i])
        
    return liste4
        
even_number(list1)

[2, 4, 6]

## Exercise 59:

In [29]:
A = [(1, 2), (3, 4), (5, 6)]

def element(elt):
    element = []
    for i in range(len(elt)):
        element.append(elt[i][0])
        
    return element

element(A)

[1, 3, 5]

## Exercise 60:

In [37]:
list1 = [1, 2, 1, 4, 2, 6]

unique = []

for i in range(len(list1)):
    if list1.count(i) < 2:
        unique.append(list1[i])
        
unique

[1, 4, 2, 6]

## Exercise 61:

In [31]:
words = ["apple", "banana", "cherry"]

lengths = list(map(len, words))

print(lengths)

[5, 6, 6]

## Exercie 62:

In [41]:
list1 = [1, 2, 1, 4, 2, 6]

mean = sum(list1) / len(list1)

mean

2.6666666666666665

## Exercise 63:

In [43]:
def fibonacci(n):
    F = [i for i in range(n+1)]
    F[0] = 0
    F[1] = 1

    for i in range(2, n+1):
        F[i] = F[i-1] + F[i-2]
    return F

fibonacci(20)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

## Exercise 64:

In [44]:
A = ["apple", "banana", "apple", "cherry"]

for i in range(len(A)):
    print("{} apparait {}".format(A[i], A.count(i)))

apple apparait 0
banana apparait 0
apple apparait 0
cherry apparait 0

## Exercise 65:

In [30]:
def remove_value(lst, value):
    return [x for x in lst if x != value]

numbers = [1, 2, 3, 2, 4, 2, 5]
value_to_remove = 2

result = remove_value(numbers, value_to_remove)
print(result)

[1, 3, 4, 5]

## Exercise 66:

In [45]:
A = ["apple", "banana", "orange", "cherry"]

B = []
for i in range(len(A)):
    if A[i][0] in "aeiouyAEOIUY":
        B.append(A[i])
        
B

['apple', 'orange']

## Exercise 67:

In [29]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1 & set2  

print("Intersection:", intersection)

Intersection: {4, 5}

## Exercise 68:

In [28]:
def flatten(nested_list):
    flat_list = []
    for sublist in nested_list:
        for item in sublist:
            flat_list.append(item)
    return flat_list

nested = [[1, 2], [3, 4], [5]]
print(flatten(nested))

[1, 2, 3, 4, 5]

## Exercise 69:

In [27]:
def all_unique(lst):
    return len(lst) == len(set(lst))

numbers1 = [1, 2, 3, 4, 5]
numbers2 = [1, 2, 3, 2, 5]

print(all_unique(numbers1))  
print(all_unique(numbers2))

True
False

##  Exercise 70:

In [26]:
from functools import reduce

def multiply_list(numbers):
    return reduce(lambda x, y: x * y, numbers)

nums = [1, 2, 3, 4, 5]
result = multiply_list(nums)
print("Product of all elements:", result)

Product of all elements: 120

## Exercise 71:

In [8]:
var = ["apple", "banana", "orange", "cherry"]

def dictionary(X):
    dict_1 = {X[i]:len(X[i]) for i in range(len(X))}
    return dict_1
    
dictionary(var)

{'apple': 5, 'banana': 6, 'orange': 6, 'cherry': 6}

## Exercise 72:

In [9]:
A = "helo, how are you? And your night?"

somme = 0

for i in range(len(A)):
    if A[i] in "aeiouyAEOIUY":
        somme = somme + 1
        
somme

13

## Exercise 73:

In [10]:
def fact(n):
    if n <= 1:  
        return 1
    return n * fact(n-1) 



liste = [(i,fact(i)) for i in range(1,5)]
print(liste)

[(1, 1), (2, 2), (3, 6), (4, 24)]

## Exercise 74:

In [12]:
voix = ["pomme", "juit", "patatoes", "raperi"]

dict1 = dictionary(var)
dict2 = dictionary(voix)

dict1.update(dict2)
dict1

{'apple': 5,
 'banana': 6,
 'orange': 6,
 'cherry': 6,
 'pomme': 5,
 'juit': 4,
 'patatoes': 8,
 'raperi': 6}

## Exercise 75:

In [13]:
set1 = {"1", '2', '3', '5', '7'}

set2 = {'3', '6'}

set2 in set1

False

## Exercise 76:

In [25]:
def sort_by_second(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

data = [(1, 5), (3, 2), (4, 7), (2, 3)]
sorted_data = sort_by_second(data)
print(sorted_data)

[(3, 2), (2, 3), (1, 5), (4, 7)]

## Exercise 77:

In [14]:
def interger(var):
    liste = []
    for i in var:
        if i >= 0:
            liste.append(i)
    return liste

A = [1,2,3,-5,-7,-9, -55]

interger(A)

[1, 2, 3]

## Exercise 78:

In [16]:
def union(A,B):
    set3 = A | B
    return set3

union(set1, set2)

{'1', '2', '3', '5', '6', '7'}

## Exercise 79:

In [17]:
def product(var):
    product = 1
    for i in var:
        product = product * i
    return product

A = [1,2,3,-5,-7,-9, -55]

product(A)

103950

## Exercise 80:

In [24]:
def chars_to_string(char_list):
    return ''.join(char_list)

chars = ['H', 'e', 'l', 'l', 'o']
result = chars_to_string(chars)
print(result)

Hello

## Exercise 81:

In [2]:
def second_largest(numbers):
    numbers = list(set(numbers))     
    numbers.sort()                    
    return numbers[-2]                

liste = [3, 8, 1, 5, 8, 9]
second_largest(liste)

8

## Exercise 82:

In [3]:
def sorted_keys(d):
    return sorted(d.keys())

my_dict = {'banana': 3, 'apple': 5, 'cherry': 2}
print(sorted_keys(my_dict))

['apple', 'banana', 'cherry']

## Exercise 83:

In [5]:
def most_common_element(lst):
    return max(set(lst), key=lst.count)

numbers = [1, 3, 2, 3, 4, 3, 2, 1]
most_common_element(numbers)

3

## Exercise 84:

In [6]:
def sort_by_first(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

data = [(3, 'apple'), (1, 'banana'), (2, 'cherry')]
sort_by_first(data)

[(1, 'banana'), (2, 'cherry'), (3, 'apple')]

## Exercise 85:

In [7]:
def remove_duplicate_dicts(dict_list):
    unique_dicts = []
    for d in dict_list:
        if d not in unique_dicts:
            unique_dicts.append(d)
    return unique_dicts


data = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Alice', 'age': 25},  
    {'name': 'Charlie', 'age': 35}
]

remove_duplicate_dicts(data)

[{'name': 'Alice', 'age': 25},
 {'name': 'Bob', 'age': 30},
 {'name': 'Charlie', 'age': 35}]

## Exercise 86:

In [9]:
def find_min_max(numbers):
    return min(numbers), max(numbers)


nums = [5, 2, 9, 1, 7]
minimum, maximum = find_min_max(nums)
print(minimum)
print(maximum)

1
9

## Exercise 87:

In [10]:
def create_tuples(list1, list2):
    return list(zip(list1, list2))

names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

result = create_tuples(names, ages)
print(result)

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

## Exercise 88:

In [11]:
def reverse_strings(strings):
    return strings[::-1]

words = ["apple", "banana", "cherry"]
print(reverse_strings(words))

['cherry', 'banana', 'apple']

## Exercise 89:

In [12]:
def sum_of_odds(numbers):
    total = 0
    for num in numbers:
        if num % 2 != 0:  
            total += num
    return total


nums = [1, 2, 3, 4, 5]
print("Sum of odd numbers:", sum_of_odds(nums))

Sum of odd numbers: 9

## Exercise 90:

In [13]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")  
    return s == s[::-1]

word = "Racecar"
if is_palindrome(word):
    print(f'"{word}" is a palindrome.')
else:
    print(f'"{word}" is not a palindrome.')

"Racecar" is a palindrome.

## Exercise 91:

In [14]:
def find_median(numbers):
    numbers = sorted(numbers)  
    n = len(numbers)
    mid = n // 2

    if n % 2 == 0:  
        median = (numbers[mid - 1] + numbers[mid]) / 2
    else:  
        median = numbers[mid]

    return median

nums = [5, 2, 9, 1, 7]
print("Median:", find_median(nums))

Median: 5

## Exercise 92:

In [15]:
def sum_dicts(dict_list):
    total = {}
    for d in dict_list:
        for key, value in d.items():
            if key in total:
                total[key] += value
            else:
                total[key] = value
    return total

data = [
    {'apples': 5, 'oranges': 3},
    {'apples': 2, 'bananas': 4},
    {'oranges': 1, 'bananas': 2}
]

print(sum_dicts(data))

{'apples': 7, 'oranges': 4, 'bananas': 6}

## Exercise 93:

In [16]:
def calculate_mode(numbers):
    counts = {}
    for num in numbers:
        if num in counts:
            counts[num] += 1
        else:
            counts[num] = 1

    most_common = None
    highest_count = 0
    for num, count in counts.items():
        if count > highest_count:
            highest_count = count
            most_common = num

    return most_common

nums = [1, 2, 2, 3, 4, 2, 5, 3]
print("Mode:", calculate_mode(nums))

Mode: 2

## Exercise 94:

In [17]:
def sum_of_squares(numbers):
    total = 0
    for num in numbers:
        total += num ** 2
    return total

nums = [1, 2, 3, 4]
print("Sum of squares:", sum_of_squares(nums))

Sum of squares: 30

## Exercise 95:

In [18]:
cubes = [(x, x**3) for x in range(1, 6)]

print(cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

## Exercise 96:

In [19]:
def primes_up_to(n):
    primes = []
    for num in range(2, n+1):
        is_prime = True
        for i in range(2, int(num**0.5)+1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

n = 20
print("Prime numbers up to", n, ":", primes_up_to(n))

Prime numbers up to 20 : [2, 3, 5, 7, 11, 13, 17, 19]

## Exercise 97:

In [20]:
def common_keys(dict1, dict2):
    return list(set(dict1.keys()) & set(dict2.keys()))

dict_a = {'a': 1, 'b': 2, 'c': 3}
dict_b = {'b': 4, 'c': 5, 'd': 6}

print("Common keys:", common_keys(dict_a, dict_b))

Common keys: ['b', 'c']

## Exercise 98:

In [21]:
def long_strings(strings):
    result = []
    for s in strings:
        if len(s) > 5:
            result.append(s)
    return result

words = ["apple", "banana", "cherry", "fig", "grapefruit"]
print(long_strings(words))

['banana', 'cherry', 'grapefruit']

## Exercise 99:

In [22]:
def strings_to_tuples(strings):
    return [(s, len(s)) for s in strings]

words = ["apple", "banana", "cherry"]
result = strings_to_tuples(words)
print(result)

[('apple', 5), ('banana', 6), ('cherry', 6)]

## Exercise 100:

In [23]:
def sum_values(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            if key in result:
                result[key] += value
            else:
                result[key] = value
    return result

data = [
    {'apples': 5, 'oranges': 3},
    {'apples': 2, 'bananas': 4},
    {'oranges': 1, 'bananas': 2}
]

print(sum_values(data))

{'apples': 7, 'oranges': 4, 'bananas': 6}