## Exercise 1:

In [3]:
liste = []
for i in range(1,11):
    liste.append(i)
    
liste

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercise 2:

In [4]:
a = ("apple", "banana", "cherry")
type(a)

tuple

## Exercise 3:

In [5]:
numbers = [10, 20, 30, 40]
b = tuple(numbers)
type(b)

tuple

## Exercise 4:

In [7]:
a = {1, 2, 3, 4, 5}
    
a

{1, 2, 3, 4, 5}

## Exercise 5:

In [8]:
student = {
    "name":"kuate", "age": 13, "grade":6
}

student

{'name': 'kuate', 'age': 13, 'grade': 6}

## Exercise 6:

In [9]:
liste = [10, 20, 30, 40, 50]
liste[1]

20

## Exercise 7:

In [10]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]="mango"

fruits

['apple', 'banana', 'mango', 'orange']

## Exercise 8:

In [11]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)

numbers

{1, 2, 3, 4, 5, 6}

## Exercise 9:

In [16]:
person = {"name": "John", "age": 25, "city": "New York"}

del person["age"]

person

{'name': 'John', 'city': 'New York'}

## Exercise 10:

In [18]:
rang = []
for i in range(10):
    rang.append(i)
    
rang

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Exercise 11:

In [21]:
squares = [i ** 2 for i in range (1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Exercise 12:

In [43]:
even_number = tuple([i*2 for i in range(2,6)])
even_number

(4, 6, 8, 10)

## Exercise 13:

In [44]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

## Exercise 14:

In [45]:
numbers = {1, 2, 3, 4, 5}

if 3 in numbers:
    print(3)
else:
    print("there is not here")

3

## Exercise 15:

In [46]:
numbers = (10, 20, 30)

len(numbers)

3

## Exercise 16:

In [47]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

## Exercise 17:

In [48]:
def function_sum (element):
    return sum(element)

print(function_sum ([i for i in range(10)]))

45

## Exercise 18:

In [49]:
numbers = [1, 2, 2, 3, 4, 4, 5]
number_set = set(numbers)

number_set

{1, 2, 3, 4, 5}

## Exercise 19:

In [50]:
liste = []
for i in "hello":
    liste.append(i)
    
liste

['h', 'e', 'l', 'l', 'o']

## Exercise 20:

In [51]:
a = (1, 2, 3, 4)

b = a[::-1]
b

(4, 3, 2, 1)

## Exercise 21:

In [53]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4} 

dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Exercise 22:

In [56]:
dict_1 = {i:i**3 for i in range(1,6)}
print(dict_1)
print(type(dict_1))

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
<class 'dict'>

## Exercise 23:

In [59]:
for k in dict_1:
    print(k, dict_1[k])

1 1
2 8
3 27
4 64
5 125

## Exercise 24:

In [3]:
name = "maman"
chr().

SyntaxError: invalid syntax (3735975444.py, line 2)

## Exercise 25:

In [6]:
A = [1, 2, 3]
B = ["a", "b", "c"]

C = [(i,j) for i,j in zip(A, B)]
C

[(1, 'a'), (2, 'b'), (3, 'c')]

## Exercise 26:

In [8]:
A = [10, 20, 30, 40, 50]

print(A.index(50))

4

## Exercise 27:

In [19]:
## names = ["Alice", "Bob", "Charlie", "David"]
`

None

## Exercises 28:

In [20]:
liste = [10, 20, 30, 40, 50]

max(liste)

50

## Exercise 29:

In [21]:
fruits = ["apple", "banana", "apple", "orange"]

fruits.count("apple")

2

## Exercise 30:

In [25]:
person = {
    "name":"Alice", "age": 25, "city": "New York"
}

person["city"]

'New York'

## Exercise 31:

In [33]:
liste = []
a = 0
for i in range (7):
    a = int(input("Enter a number: "))
    liste.append(a)

    
def dupli (A):
    liste1 = []
    for i in A:
        if liste.count(i) < 2:
            liste1.append(liste[i])
            
    return liste1
    
dupli(liste)

Enter a number: 1
Enter a number: 1
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5

[1, 2, 3, 4]

## Exercise 32:

In [ ]:
fruits = ["apple", "banana", "apple", "orange"]

names = ["Alice", "Bob", "Charlie", "David", "apple"]

for i in range(min(len))
if (i in fruits) and (i in names):
    print(fruits[i])

## Exercise 33:

## Exercise 34:

In [44]:
dict_1 = {i:i**2 for i in range(1,6)}

def somme(A):
    return sum(A.values())

somme(dict_1)

55

## Exercise 35:

In [47]:
#A = [3, 1, 4, 1, 5, 9]

#B = A.sort()

#print(B)

None

## *Exercise 36:

In [2]:
A = ["hello", "maman", "kuate", "Hello everyone", "I hope that your are fine today"]

for i in range(len(A)):
    print(max(A)

'maman'

## *Exercise 37:

In [7]:
A = [-1, 2, -3, 4, 5]

all(A)

True

## Exercise 38:

In [9]:
liste = [(i, i**2) for i in range(1, 6)]
liste

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


## Exercise 39:

In [20]:
print(len(liste))
def tuples(A):
    liste = []
    for i in range(len(A)):
        liste.append(A[i][1])
    return liste

tuples([(i, i**2) for i in range(1, 6)])

5

[1, 4, 9, 16, 25]

## *Exercise 40

## *Exercise 41

## Exercise 42:

In [29]:
A = ()

for i in range(len(A)):
    if A[i] == () :
        print("A is empty set")
    else:
        print("A contain at least one element")

## Exercise 43:

In [33]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## *Exercise 44:

In [44]:
A = [10, 2, 3, 4, 5]
A.reverse()
print(A)
def function(C):
     C.reverse()


print(function(A))

[5, 4, 3, 2, 10]
None

## Exercise 45:

In [48]:
dict_2 = {i:i**3 for i in range(1, 6)}
dict_2

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

## Exercise 46:

In [50]:
A = [1, 2, 2, 3, 4, 4, 5]
B = []

for i in range(1, len(A)):
    if A.count(i) < 2:
        B.append(i)

B

[1, 3, 5, 6]

## Exercise 47:

In [56]:
dict_1 = {i:i**2 for i in range(1,6)}
for k in dict_1:
    print(k, dict_1[k])
print(dict_1.keys())
def values(A):
    
    
    return sum(A.values())

somme(dict_1)

1 1
2 4
3 9
4 16
5 25
dict_keys([1, 2, 3, 4, 5])

NameError: name 'somme' is not defined